.products .product-slider .slide{
    overflow: hidden;
    position: relative;
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    background: var(--white-color);
}

.products .product-slider .slide .image{
    padding:1rem;
}

.products .product-slider .slide .image img{
    height: 50rem;
    width: 100%;
    object-fit: cover;
}

.products .product-slider .slide .content{
    padding:2rem;
    border-top: .1rem solid var(--light-color);
}

.products .product-slider .slide .icons{
    position: absolute;
    top:0; right:-7rem;
}

.products .product-slider .slide:hover .icons{
    right:1rem;
}

.products .product-slider .slide .icons a{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    background: var(--black-color);
    color:var(--white-color);
    display: block;
    margin-top: 1rem;
}

.products .product-slider .slide .icons a:hover{
    background:var(--orange);
    color:#fff;
}

.products .product-slider .slide .content .stars i{
    font-size: 2rem;
    color:var(--orange);
}

.products .product-slider .slide .content .stars span{
    font-size: 2rem;
    color:var(--black-color);
    font-weight: 300;
}

.products .product-slider .slide .content h3{
    color:var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products .product-slider .slide .content .price{
    color:var(--orange);
    font-weight: bolder;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products .product-slider .slide .content .price span{
    color:var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.products .product-slider .swiper-button-next,
.products .product-slider .swiper-button-prev{
    color:var(--black-color);
}

.products .gap{
    margin-bottom: 2rem;
}
